<%= turbo_stream.remove "chat_empty_state" %>

<% if @new_turns.present? %>
  <%= turbo_stream.append "chat_messages" do %>
    <div class="chat-exchange">
      <%= render partial: "chat/turn", collection: @new_turns, as: :turn %>
    </div>
  <% end %>
<% end %>

<%= turbo_stream.replace "chat_form" do %>
  <%= render "chat/form" %>
<% end %>

<%= turbo_stream.replace "chat_purchase" do %>
  <%= render "chat/purchase", proposal: @purchase_proposal %>
<% end %>
