<% content_for :content do %>
  <div class="dash">
    <nav class="dash-nav" aria-label="Operator">
      <strong>Operator</strong>
      <span class="t-caption muted"><%= Current.designer&.email_address %></span>
      <%= link_to "Operations", admin_root_path %>
      <%= link_to "Designer dashboard", designer_models_path %>
      <%= link_to "Public storefront", root_path %>
      <%= button_to "Sign out", rodauth.logout_path, method: :post, class: "linklike" %>
    </nav>
    <section class="dash-content">
      <% if notice %><div class="flash flash-ok"><%= notice %></div><% end %>
      <% if alert %><div class="flash flash-bad"><%= alert %></div><% end %>
      <%= yield %>
    </section>
  </div>
<% end %>
<%= render template: "layouts/application" %>
