<% content_for :content do %>
  <div class="dash">
    <nav class="dash-nav" aria-label="Designer">
      <div class="dash-who"><%= Current.designer&.display_name %></div>
      <%= link_to "Models", designer_models_path %>
      <%= link_to "Upload", new_designer_model_path %>
      <%= link_to "Bulk import", designer_imports_path %>
      <%= link_to "Identity", designer_identity_path %>
      <%= link_to "Sales", designer_sales_path %>
      <%= link_to "Webhooks", designer_webhook_endpoints_path %>
      <%= link_to "Account", designer_account_path %>
      <%= link_to "Operator", admin_root_path if Current.designer&.admin? %>
      <%= button_to "Sign out", rodauth.logout_path, method: :post, class: "linklike" %>
    </nav>
    <section class="dash-content">
      <% if notice %><div class="flash flash-ok"><%= notice %></div><% end %>
      <% if alert %><div class="flash flash-bad"><%= alert %></div><% end %>
      <%= yield %>
    </section>
  </div>
<% end %>
<%= render template: "layouts/application" %>
